<%- include("partials/header"); -%>

<img src="thunderstorm.jpg" class="description">

<div>
  <h1>The current temperature in <%= query %>   is   <%= temp %>   °C.<h1>
</div>
<div>
  <p>You will experience <%= weatherDescription %>.</p>
</div>



<%- include("partials/footer"); -%>
